.fb {
    background: #3b5998;

}

.ln {
    background: #0077B5;
}

.ig {
    background: linear-gradient(to bottom right, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);

}

.yt {
    background-color: #FF0000;
    ;
}