.credCard {
    box-shadow: var(--shadow-1);
    height: 90px;
    width: 130px;
    margin: 20px 0px;
    border-radius: 5px;
    font-size: 20px;
}

.credCard span {
    margin: 2px;
}

.credCard h5 {
    margin: 2px;
    font-size: 0.6em;
    font-weight: 500;
}