@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes carasoulUpward {
    0% {
        transform: translateY(0%);
    }

    85% {
        transform: translateY(-75%);
    }

    100% {
        transform: translateY(0%);
    }

}

/* hero section */
.hero {
    position: relative;
    background: var(--background);
    background-size: 200% 100%;
    animation: wave 5s linear infinite;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../../assets/image/BACKGROUND.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.heroWaveBg1 {
    position: absolute;
    bottom: -100px;
    height: 400px;
    width: 100%;
    z-index: 0;

}

.heroWaveBg2 {
    position: absolute;
    bottom: -100px;
    height: 400px;
    width: 100%;
    z-index: 0;
    display: none;
}

.heroContent {
    position: relative;
    z-index: 2;
    height: 750px;
    width: 90%;
    margin: auto;
}

.HERO {
    width: 500px;
    height: 400px
}

.heroCallBtn {
    display: none;
}

.heroContentDiv {
    font-size: 30px;
    width: 600px;
}

.heroContentDiv h1,
.heroContentDiv h2,
.heroContentDiv p {
    margin: 5px;
    color: white
}

.heroContentDiv h1 {
    font-size: 1.4em;
}

.heroContentDiv h2 {
    font-size: 0.9em;
    color: var(--golden)
}

.heroContentDiv p {
    font-size: 0.7em;
    margin-bottom: 20px;
}


/* about */
.about {
    /* border: 2px solid black; */
}

.aboutContent {
    padding: 50px 0px;
}

.ABOUT {
    width: 600px;
    height: 400px;
}

.aboutContentDiv {
    width: 600px;
    font-size: 22px;
}

.aboutContentDiv h1,
.aboutContentDiv p {
    margin: 5px;
    width: fit-content
}

.aboutContentDiv h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.aboutContentDiv p {
    font-size: 0.7em;
    font-weight: 400;
}

/* service */

.service {
    font-size: 22px;
}

.service h1 {
    font-size: 1.8em;
    width: fit-content
}

.serviceContent {
    width: 80%;
}

/* feature */
.feature {
    font-size: 25px;
}

.feature h1 {
    font-size: 1.8em;
    width: fit-content
}

/* testimony */
.testimony {
    font-size: 25px;
}

.testimony h1 {
    font-size: 1.8em;
    width: fit-content
}

.testimonyCarasoul {
    box-shadow: var(--shadow-1);
    height: 450px;
    overflow-y: hidden;
    width: 600px;
    border-radius: 20px;
}

.testimonyCarasoulInner {
    width: fit-content;
    margin: auto;
    animation: carasoulUpward 20s linear infinite;
}


/* footer */
.footer {
    margin-top: 100px;
}

.contact {
    padding: 10px 0px;
    background-color: var(--purple-bg);
}

.socialMedia {
    background: var(--dark-blue);
}

.rights {
    color: rgb(190, 190, 190);
    margin: 5px;
    font-size: 15px;
}


.devSection {
    margin: 10px;
}

.devSection h3 {
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.devSectionLink {
    width: 150px;
    font-size: 13px;
}

.devSectionLink a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width:1200px) {

    /* hero section */

    .HERO {
        width: 450px;
        height: 350px
    }

    .heroContentDiv {
        font-size: 25px;
        width: 600px;
    }

    /* about */
    .ABOUT {
        width: 500px;
        height: 350px;
    }

    .aboutContentDiv {
        width: 600px;
        font-size: 20px;
    }

    /* feature */
    .featureCardContainerParent {
        flex-direction: column;
        width: 90%
    }

    .featureCardContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


@media screen and (max-width:900px) {

    /* hero section */
    .HERO {
        width: 400px;
        height: 300px
    }

    .heroContentDiv {
        font-size: 22px;
        width: 600px;
    }

    /* about */
    .aboutContent {
        flex-direction: column;
    }

    .ABOUT {
        width: 500px;
        height: 350px;
    }

    .aboutContentDiv {
        width: 90%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    /* service */
    .service h1 {
        font-size: 1.5em;
    }


    .aboutContentDiv h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5em;
    }

    .cred {
        justify-content: center;
        /* flex-direction: column; */
    }

    /* feature */

    .feature h1 {
        font-size: 1.5em;
        width: fit-content
    }

    /* testimony */


    .testimony h1 {
        font-size: 1.5em;
        width: fit-content
    }

}

@media screen and (max-width:800px) {

    /* feature */
    .featureCardContainer {
        width: 100%;
        flex-direction: column;
    }

    /* footer */
    .rights {

        font-size: 12px;
    }
}

@media screen and (max-width:700px) {

    /* hero section */

    .HERO {
        width: 400px;
        height: 300px
    }

    .heroContent {
        height: 800px;
        flex-direction: column;
        justify-content: center;
    }

    .heroContentDiv {
        font-size: 22px;
        width: 100%;
    }

    .heroCallBtn {
        display: inline;
    }

    /* about */
    .ABOUT {
        width: 400px;
        height: 300px;
    }

    .aboutContentDiv {
        width: 90%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
    }

    /* testimony */
    .testimonyCarasoul {
        height: 400px;
        overflow-y: hidden;
        width: 90%;
        border-radius: 20px;
    }

}

@media screen and (max-width:500px) {

    /* hero section */
    .HERO {
        width: 300px;
        height: 250px
    }

    .heroContent {
        height: 800px;
        flex-direction: column;
        justify-content: center;
    }

    .heroContentDiv {
        font-size: 22px;
        width: 100%;
    }

    .heroWaveBg1 {
        display: none;

    }

    .heroWaveBg2 {
        display: block;
    }

    /* about */
    .cred {
        flex-direction: column;
    }

    .ABOUT {
        width: 300px;
        height: 250px;
    }

    /* feature */
    .featureImg {
        width: 280px
    }

    .feature h1 {
        font-size: 1.3em;
        width: fit-content
    }

    /* testimny */
    .testimony h1 {
        font-size: 1.3em;
        width: fit-content
    }

}