.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-even {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-center-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-left {
    display: flex;
    align-items: left;
    justify-content: left;
}

/* animation */

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}