

.featureCard {
    /* border: 2px solid black; */
    width: 450px;
    margin: 10px;
    height: 150px;
}

.featureCardIcon {
    height: 80px;
    width: 80px;

    border-radius: 100%;
    background: var(--purple-bg);
    color: white
}

.featureCardIcon svg {
    height: 40px;
    width: 40px;
}

.featureCardContent {
    font-size: 20px;
    width: 300px
}

.featureCardContent h2 {
    font-size: 1em;
    margin: 5px 0px;
}

.featureCardContent p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 5px 0px;
}